<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'contact-us')}">

<body>

<div class="container">
    <br><br><br><br>
    <div class = "row">
        <div class = "col-6">
            <form action="#" th:action="@{/}" th:object="${personForm}" method="post">
                <h1 style="color:blue;">Contact Us</h1>
                <label for="uname">Name:</label>
                <input type="text" class="form-control" id="uname" placeholder="Enter your name" name="uname" required/>
                <br/>
                <label for="email-id">Email ID:</label>
                <input type="text" class="form-control" id="email" placeholder="Enter your email id" name="email" required/>
                <br/>
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="message" rows="5"></textarea>
                <br/>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class = "col-6">
            <img src="https://raw.githubusercontent.com/gaikwadapurva/images-for-farmwayfresh/main/store.jpg" alt="Store" class="center" height="90%"/>
        </div>
    </div>
    <br/><br/>
</div>

<div th:include="/fragments/footer"></div>

</body>
</html>